

    <template name="friendsList">

        {{listName}}

        <table>
            {{#each list}}
                {{>friendsListItem}}
            {{/each}}
        </table>

    </template>





    <!--
                <li>{{no}}</li>
            <li>{{name}}</li>
            <li>{{email}}</li>
            <li><button name="remove">삭제</button></li>
    -->

